<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Elenco aule</title>
  </head>
  <body>
    {% include 'dashboard.html' %}

    <div class="container">
      <h1>Elenco aule</h1>
      <div class="row">
      {% for gruppo, links in gruppi_links %}
        <div class="col-md">
          <h3>{{ gruppo }}</h3>
          <ul>
          {% for aula, link in links %}
            <li><a href="{{ link }}" target="_blank">LAB {{ aula }}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
