<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="static/style.css">
  <meta charset="UTF-8">
  <title>Excel Aperture</title>
</head>

<body>

    {% include 'dashboard.html' %}

    <div class="container">
        <h1>Crea Excel Aperture</h1>
        <form method="POST" enctype="multipart/form-data" action="/crea-excel-aperture">
            <label for="gruppo">Gruppo:</label>
            <select id="gruppo" name="gruppo">
                {% for lab_group in lab_groups %}
                <option value="{{ lab_group }}">{{ lab_group }}</option>
                {% endfor %}
            </select>
            <br><br>
            <div>
              <label for="file_xlsx">File Excel:</label>
              <input type="file" id="file_xlsx" name="file_xlsx" accept=".xlsx">
            </div>
            <br><br>
            <input type="submit" value="Genera file delle aperture">
        </form>
    </div>

    <div>
        <p>Per il corretto funzionamento dell'algoritmo è necessario che la casella di inizio orario dei laboratori siano rispettivamente nelle caselle 7, 35, 63, 91, 119, 147, etc (ogni 28) </p>
        <p>Vedi immagine come esempio</p>

         <img src="{{ url_for('static', filename='images/caselle laboratori.PNG') }}" alt="Immagine 1" width="8%">
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

  </div>

  <script>
      function handleDragOver(event) {
        event.preventDefault();
        event.stopPropagation();
        event.dataTransfer.dropEffect = 'copy';
      }

      function openFileSelector() {
        document.getElementById('file_xlsx').click();
      }

      document.addEventListener('DOMContentLoaded', function () {
        var fileInput = document.getElementById('file_xlsx');
        var fileInputLabel = document.querySelector('.file-input-label');
        var isDraggingFile = false;

        fileInput.addEventListener('change', function () {
          var fileName = fileInput.value.split('\\').pop();
          fileInputLabel.innerText = fileName;
        });

        var container = document.querySelector('.container');

        container.addEventListener('dragover', function (e) {
          e.preventDefault();
          container.classList.add('dragover');
          isDraggingFile = true;
        });

        container.addEventListener('dragleave', function (e) {
          e.preventDefault();
          container.classList.remove('dragover');
          isDraggingFile = false;
        });

        container.addEventListener('drop', function (e) {
          e.preventDefault();
          container.classList.remove('dragover');
          isDraggingFile = false;

          var files = e.dataTransfer.files;
          if (files.length > 0) {
            fileInput.files = files;
            var fileName = files[0].name;
            fileInputLabel.innerText = fileName;
          }
        });
      });

      document.addEventListener('DOMContentLoaded', function () {
          // Funzione per controllare se il modulo può essere inviato
          function validateForm() {
            var fileInput = document.getElementById('file_xlsx');

            // Controllo se il file è stato caricato
            if (fileInput.files.length === 0) {
              alert('Si prega di selezionare un file Excel.');
              return false;
            }

            // Se il controllo passa, il modulo può essere inviato
            return true;
          }

          // Aggiungi un gestore agli eventi per il submit del modulo
          var form = document.querySelector('form');
          form.addEventListener('submit', function (event) {
            // Prevent default form submission
            event.preventDefault();

            // Esegui la funzione di validazione prima di inviare il modulo
            if (validateForm()) {
              // Se la validazione passa, invia il modulo
              form.submit();
            }
          });
        });
  </script>

</body>

</html>
