<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilità Tutor</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> <!-- Per icone -->
</head>

<body>

    {% include 'dashboard.html' %}

    <div class="container">
        <h1>Disponibilità Tutor</h1>

        <form method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="valore">Gruppo:</label>
                <select id="valore" name="valore">
                    {% for v in lista_valori %}
                    <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="date_range">Date:</label>
                <div class="calendar">
                    <label><b>Da:</b></label>
                    <input type="date" id="start_date" name="start_date" required>
                </div>
                <div class="calendar">
                    <label><b>A:</b></label>
                    <input type="date" id="end_date" name="end_date" required>
                </div>
            </div>

            <div class="form-group">
                <p>Scaricare il file nel formato <b>.csv</b>:
                    Nel File Google >> File > Scarica > <u>valori separati da virgola (.csv)</u>
                    <span class="guida-csv">
                        <a href="/static/images/come_scaricare_in_csv.png" download>
                            Clicca qui per scaricare la guida CSV
                        </a>
                    </span>
                </p>
            </div>

            <div class="dropzone" ondragover="handleDragOver(event)" onclick="openFileSelector()">
                <div class="file-input-label">
                    <i class="fas fa-file-upload"></i> Trascina qui il file o clicca per selezionare
                </div>
                <input type="file" id="file_csv" name="file_csv" accept=".csv" style="display: none;">
            </div>

            <br>
            <input type="submit" value="Genera file Excel">
        </form>

        <div class="consigli-box">
            <h2>Consigli Utili:</h2>
            <ul>
                <li><b>Bloccare le prime due colonne</b> in Excel per una visione più fluida:
                    <ul>
                        <li>Selezionare solo la TERZA colonna, poi Visualizza > Blocca riquadri > Blocca riquadri.</li>
                    </ul>
                </li>
                <li><b>Sbloccare la visualizzazione protetta</b> se necessario:
                    <ul>
                        <li>File > Opzioni > Centro protezione > Impostazioni Centro protezione > Visualizzazione protetta.</li>
                    </ul>
                </li>
            </ul>
        </div>

        {% include 'footer.html' %}

    </div>

    <script>


        function handleDragOver(event) {
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        }

        function openFileSelector() {
            document.getElementById('file_csv').click();
        }

        document.addEventListener('DOMContentLoaded', function () {
            var fileInput = document.getElementById('file_csv');
            var fileInputLabel = document.querySelector('.file-input-label');

            fileInput.addEventListener('change', function () {
                var fileName = fileInput.value.split('\\').pop();
                fileInputLabel.innerText = fileName;
            });

            var startDateInput = document.getElementById('start_date');
            var endDateInput = document.getElementById('end_date');

            if (typeof flatpickr !== 'undefined') {
                var startDateCalendar = flatpickr(startDateInput, {
                    dateFormat: 'd/m/Y',
                    disableMobile: true,
                    onChange: function (selectedDates) {
                        endDateCalendar.set('minDate', selectedDates[0]);
                    },
                    locale: { "firstDayOfWeek": 1 }
                });

                var endDateCalendar = flatpickr(endDateInput, {
                    dateFormat: 'd/m/Y',
                    disableMobile: true,
                    onChange: function (selectedDates) {
                        startDateCalendar.set('maxDate', selectedDates[0]);
                    },
                    locale: { "firstDayOfWeek": 1 }
                });
            } else {
                console.log('Flatpickr non è stato trovato');
            }
        });
    </script>

</body>
</html>
